# Django specific files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Django migration files
*/migrations/*

# Python packaging
*.egg-info/
*.egg
*.pyd
*.pyo
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Django static and media files
static/
media/

# Celery
celerybeat-schedule
celerybeat.pid

# Environments and configuration
.env
.env.*
.venv
