/* <style> */
        html, body {
            height: 100%;
            margin: 0;
        }
        .content {
            flex: 1;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        footer {
            background-color: rgba(108, 122, 137, 1);
        }
    /* </style> */