<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Green Guide Community Portal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Price Slider Stylesheets -->
    <link rel="stylesheet" href="/media/css/nouislider.css">
    <!-- Google fonts - Playfair Display-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
    <!-- Google fonts - Poppins-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
    <!-- swiper-->
    <link rel="stylesheet" href="/media/css/swiper.min.css">
    <!-- Magnific Popup-->
    <link rel="stylesheet" href="/media/css/magnific-popup.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/media/css/default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
{#    <link rel="stylesheet" href="/media/css/custom.css">#}
    <link rel="stylesheet" href="/static/css/footer_style.css">
    <script src="/media/js/main.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .content {
            flex: 1;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        footer {
            background-color: rgba(108, 122, 137, 1);
        }
    </style>
</head>

<body style="padding-top: 72px;"class="d-flex flex-column">
    <input type="hidden" id="csrf" value="{{csrf_token}}">

    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand py-1" href="/">
                        <h3 style="color: #4CAF50">Green Guide Community Portal</h3>
                    </a>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <!-- Add Search Form here -->
                        
                        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
                            <a class="btn btn-success" href="{% url 'add_blog' %}">Add Blogs</a>
                        </li>
                        <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
                            <a class="btn btn-danger" href="{% url 'logout_view' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
                            <a class="btn btn-success" href="{% url 'login_view' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- <footer class="position-relative z-index-10 d-print-none"> -->
    <footer class="position-relative">
        <div class="bg-gray-800 text-gray-300">
            <div class="row">
                <div class=" text-body p-4">
                    <a class="fs-6 text-gray-200 text-hover-light" href="{% url 'contact_view' %}">Contact</a>
                </div>
                <div class="text-bo p-4">
                    <a class="fs-6 text-gray-200 text-hover-light fw-medium">About Us</a>
                </div>
            </div>
        </div>
        <div class="text-center p-2" style="background-color: rgba(108, 122, 137, 1);">
            <a style="color: rgb(217, 231, 241);" >&copy; 2024, Group-14. All rights reserved.</a>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
