{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Password Change Successful</h3>
                        <p class="text-center">Your password was changed successfully</p>


                        <p class="text-center"><a href="{% url 'login_view' %}">Click here</a> Login again</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}  