{% extends 'myapp/base.html' %}

{% block title %}Home - Django Blog{% endblock %}

{% block content %}
    <div class="welcome-paragraph">
        <p>Welcome to our blog! Here you will find a variety of posts covering different topics. Enjoy your reading!</p>
    </div>

    {% for post in posts %}
    <div class="post">
        <div class="post-title">
            <a href="#">{{ post.title }}</a>
        </div>
        <div class="post-content">
            {{ post.content|truncatewords:30 }}
        </div>
        <div class="post-footer">
            Posted by {{ post.author.username }} on {{ post.created_at|date:"F j, Y" }}
        </div>
    </div>
    {% endfor %}
{% endblock %}
